---
import '@fontsource/geist';
import '@fontsource/dynapuff';

import BlogLayout from '@/layouts/BlogLayout.astro';

import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import '../../styles/global.css';

import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BlogLayout title={'Pygame-ce Blogs'} pubDate={null}>
  <div class="w-full my-0 pb-12">
    <h2 class="text-4xl py-2 font-[DynaPuff]">Our Blog</h2>
    <div class="flex-col gap-4 overflow-x-auto">
      {
        posts.map((post) => (
          <>
            <a class="w-[240px]" href={`/blog/${post.id}/`}>
              <div class="flex justify-between py-2">
                <p>{post.data.title}</p>
                <FormattedDate date={post.data.pubDate} />
              </div>
            </a>
            <hr />
          </>
        ))
      }
    </div>
  </div>
</BlogLayout>
