---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="flex flex-1 flex-col items-center mx-auto pt-16 mt-15 md:mt-[88px] w-full px-9 md:px-13 lg:px-16 max-w-7xl h-full">
    <p class="text-start w-full">About text should be here.</p>
  </main>
</BaseLayout>
