---
import '@fontsource/geist';
import '@fontsource/dynapuff';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

import { Highlighter } from '@/components/ui/highlighter';

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-green-700">
    <Header />
    <main class="flex flex-col items-center mx-auto pt-16 mt-15 md:mt-[88px] w-full px-9 md:px-13 lg:px-16 max-w-7xl">
      <div class="text-center">
        <h1 class="text-7xl font-medium py-6 font-[DynaPuff]">
          <span class="block">The First Choice for</span>

          <span class="block">Making Games in Python</span>
        </h1>
        <p class="text-xl text-balance">
          Pygame: Community Edition is a drop-in replacement with modern performance and features maintained by the
          original team from the Pygame Organization.
        </p>
      </div>
    </main>
  </body>
</html>
