---
import HeaderLink from './HeaderLink.astro';
import PygameCeLogo from '@/assets/pygame_ce_logo.svg';

import '@fontsource/geist';
import '@fontsource/dynapuff';
import '../styles/global.css';
---

<header>
  <nav class="mx-auto w-full px-9 md:px-13 lg:px-16 max-w-7xl flex items-center justify-between p-4">
    <p class="font-bold text-gray-800">
      <HeaderLink href="/" class="text-gray-700 hover:text-blue-600 transition-colors"
        ><PygameCeLogo class="h-20" } /></HeaderLink
      >
    </p>
    <div class="flex space-x-6">
      <HeaderLink href="/docs" class="text-gray-700">Docs</HeaderLink>
      <HeaderLink href="/blog" class="text-gray-700">Blog</HeaderLink>
      <HeaderLink target="_blank" href="https://www.patreon.com/pygamecommunity" class="text-gray-700"
        >Donate</HeaderLink
      >
    </div>
  </nav>
</header>
