---
import HeaderLink from './HeaderLink.astro';
import PygameCeLogo from '@/assets/pygame_ce_logo.svg';
import { AnimatedThemeToggler } from './ui/animated-theme-toggler';

import '@fontsource/geist';
import '@fontsource/dynapuff';
import '../styles/global.css';
---

<header>
  <nav class="mx-auto w-full px-9 md:px-13 lg:px-16 max-w-7xl flex items-center justify-between p-4">
    <p class="font-bold text-gray-800">
      <HeaderLink href="/" class="text-gray-700 hover:text-blue-600 transition-colors"
        ><PygameCeLogo class="h-20" } /></HeaderLink
      >
    </p>
    <div class="flex space-x-6">
      <HeaderLink href="/docs" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 hover:dark:text-gray-200"
        >Docs</HeaderLink
      >
      <HeaderLink href="/blog" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 hover:dark:text-gray-200"
        >Blog</HeaderLink
      >
      <HeaderLink
        target="_blank"
        href="https://www.patreon.com/pygamecommunity"
        class="text-gray-500 hover:text-gray-900 dark:text-gray-400 hover:dark:text-gray-200">Donate</HeaderLink
      >
    </div>
    <div class="flex justify-center p-6">
      <AnimatedThemeToggler client:load />
    </div>
  </nav>
</header>
